:root{
    --cor-hover:var(--cor-hover);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
a{
    text-decoration: none;
    color: inherit;
    font-size: 2vh;
}
  
ul, ol, li{
    list-style: none;
}
  
body{
    display: flex;
    justify-content: center;
    place-items: center;
    background-attachment: fixed; 
    height: 330vh;
}

.dados {
    width: 100vw;
    height: 100%;
    background: linear-gradient(to bottom, #8F295E 10%, #A12A2A);
    background-size: cover; 
    background-repeat: no-repeat;
      
}

.escola{
    margin-left: 60vh;
    margin-top: 8vh;
    height: 5vh;
    width: 26vw;
    font-size: 1.7vh;
}

.pesquisar{
    height: 5vh;
    width: 8vw;
    margin-left: 3vh;
    font-size: 2.6vh;
    background-color: #5E1331;
    color: white;

}

.logo{
    margin-top: -30vh;
}

.eua img{
 height: 60vh;
 width: 100vw;
 margin-top: -1vh;
}

.insta{
    margin-top: 5vh;
    margin-left: 5vh;
}

.insta p{
    color: white;
    font-size: 3vh;
    margin-left: 8vh;
    margin-top: -5vh;
}

.face{
    margin-left: 40vh;
    margin-top: -6vh;
}

.face p{
    color: white;
    font-size: 3vh;
    margin-left: 8vh;
    margin-top: -5vh;
}

.twitter{
    margin-top: -6vh;
    margin-left: 78vh;
}

.twitter p{
    color: white;
    font-size: 3vh;
    margin-left: 8vh;
    margin-top: -5vh;
}

button{
    height: 6vh;
    width: 9vw;
    background-color: white;
    color: #8F295E;
    margin-top: -3vh;
    margin-left: 162.6vh;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    gap: 6vw;
    padding: 8vh;
}

#galeria div {
    border: 1vh solid #ccc;
}

#galeria h2 {
    margin-top: 10vh;
}

.card {
    border: 1vh solid #ddd;
    border-radius: 2vh;
    padding: 1vh;
    background-color: #F6EBEB;
    position: relative;
}

.card h1 {
    font-size: 3vh;
    color: #63172D;
    margin-left: 2vh;

}

.card h2 {
    color: #000000;
    margin-bottom: 5vh;
    margin-left: 2vh;
}

.saiba-mais {
    background-color: #5E1331;
    color: white;
    border-radius: 1vh;
    font-size: 2.5vh;
    margin-left: 8vh;
}

.detalhes-card {
    border: 1vh solid #ddd;
    border-radius: 1vh;
    width: 40vw;
    height: 75vh;
    margin-left: 48vh;
    background-color: #F6EBEB;
}

.detalhes-card h1{
    color: #5E1331;
    font-size: 6vh;
    margin-left: 3vh;
}

.detalhes-card h3{
    margin-top: 3vh;
    color: #000000;
    font-size: 3vh;
    margin-left: 3vh;
}

.voltar {
    background-color: #5E1331;
    color: white;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 3vh;
    margin-left: 3vh;
    margin-top: 5vh;
}

section{
    height: 100%;
    width: 100vw;
    display: flex;
}


