:root{
    --cor-hover:var(--cor-hover);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}
  
ul, ol, li{
    list-style: none;
}
  
body{
    display: flex;
    justify-content: center;
    place-items: center;
}

.gradiente {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #8F295E 10%, #A12A2A);
      
}

.escola{
    margin-left: 60vh;
    margin-top: 8vh;
    height: 5vh;
    width: 26vw;
    font-size: 1.7vh;
}

.pesquisar{
    height: 5vh;
    width: 8vw;
    margin-left: 3vh;
    font-size: 2.6vh;
    background-color: #5E1331;
    color: white;

}

.perfil img{
    margin-left: 138vh;
    margin-top: -6vh;
}

.perfil p{
    margin-left: 150vh;
    margin-top: -7vh;
    font-size: 3vh;
}

.cadastro{
    margin-left: 150vh;
    margin-top: -4vh;
    font-size: 3vh;
}

.ajuda img{
    margin-left: 165vh;
    margin-top: -6.5vh;
}

.logo{
    margin-top: -11vh;
}

.eua img{
 height: 60vh;
 width: 100vw;
 margin-top: -3vh;
}

.insta{
    margin-top: 5vh;
    margin-left: 5vh;
}

.insta p{
    color: white;
    font-size: 3vh;
    margin-left: 8vh;
    margin-top: -5vh;
}

.face{
    margin-left: 40vh;
    margin-top: -5vh;
}

.face p{
    color: white;
    font-size: 3vh;
    margin-left: 8vh;
    margin-top: -5vh;
}

.twitter{
    margin-top: -4.8vh;
    margin-left: 78vh;
}

.twitter p{
    color: white;
    font-size: 3vh;
    margin-left: 8vh;
    margin-top: -5.6vh;
}

button{
    height: 6vh;
    width: 9vw;
    background-color: white;
    color: #8F295E;
    margin-top: -3vh;
    margin-left: 150vh;
}

#argumentos{
    display: flex;
    height: 100%;
    width: 100%;
    padding-left: 2vw;
    
}  

.card{
    background-color: rgb(250, 195, 123);
    width: 17.3vw;
    height: 56vh;
    border-radius: 1vw;
    margin-top: 20vh;  
    margin-left: 1.5vw;   
}

.card h2{
    margin-top: 3vh;
    margin-left: 1vw;
}

.card p{
    margin-top: 3vh;
    margin-left: 1vw ;
    margin-right: 1vw ;
    font-size: 1vw;
}

.card h3{
    margin-top: 3vh;
    font-size: 2vh;
    color: rgb(90, 89, 89);
    margin-left: 3vh;
}