:root{
    --cor-hover:var(--cor-hover);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}
  
ul, ol, li{
    list-style: none;
}
  
body{
    display: flex;
    justify-content: center;
    place-items: center;
}

.gradiente {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #8F295E 10%, #A12A2A);
      
}

.escola{
    margin-left: 60vh;
    margin-top: 8vh;
    height: 5vh;
    width: 26vw;
    font-size: 1.7vh;
}

.pesquisar{
    height: 5vh;
    width: 8vw;
    margin-left: 3vh;
    font-size: 2.6vh;
    background-color: #5E1331;
    color: white;

}

.perfil img{
    margin-left: 138vh;
    margin-top: -20vh;
}

.perfil p{
    margin-left: 150vh;
    margin-top: -23vh;
    font-size: 3vh;
}

.cadastro{
    margin-left: 150vh;
    margin-top: -20vh;
    font-size: 3vh;
}

.ajuda img{
    margin-left: 165vh;
    margin-top: -60vh;
}

.logo{
    margin-top: -12vh;
}

.eua img{
 height: 60vh;
 width: 100vw;
 margin-top: 1vh;
}

.insta{
    margin-top: 5vh;
    margin-left: 5vh;
}

.insta p{
    color: white;
    font-size: 3vh;
    margin-left: 8vh;
    margin-top: -5vh;
}

.face{
    margin-left: 40vh;
    margin-top: -5vh;
}

.face p{
    color: white;
    font-size: 3vh;
    margin-left: 8vh;
    margin-top: -5vh;
}

.twitter{
    margin-top: -4.8vh;
    margin-left: 78vh;
}

.twitter p{
    color: white;
    font-size: 3vh;
    margin-left: 8vh;
    margin-top: -5.6vh;
}

button{
    height: 6vh;
    width: 9vw;
    background-color: white;
    color: #8F295E;
    margin-top: -3vh;
    margin-left: 150vh;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 6vw;
    padding: 8vh;
}

#galeria div {
    border: 1px solid #ccc;
}

#galeria h2 {
    margin-top: 10vh;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #F6EBEB;
}

.card h1 {
    font-size: 3.8vh;
    color: #63172D;

}

.card h2 {
    color: #000000;
    margin-bottom: 5vh;
}

.card h3 {
    color: #000000;
    margin-bottom: 5vh;
    font-size: 2.3vh;
}
